<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Choose a Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>My New Puppies!!!</h1>
    <p>My dog @Model.FoodName1 just had two @Model.Adj puppies!</p>
    <p>We named them @Model.FoodName2 and @Model.FoodName3.</p>
    <p>They love to play with @Model.Noun and @Model.Verb around the house!</p>
  </body>
</html>